Repository jetstack/tarmak, pull requests merged in 2019-05, with the labels that each got.

#802 Adds centos to Makefile for tests
  puppet/modules/vault_server/Makefile
  puppet/modules/vault_server/spec/acceptance/nodesets/ubuntu_1604_single_node.yml
  puppet/modules/vault_server/templates/vault.service.erb
Labels: approved, area/puppet, dco-signoff: yes, lgtm, release-note-none, size/S

#803 Updates vault-helper to 0.9.15
  CHANGELOG.md
  Gopkg.lock
  Gopkg.toml
  puppet/modules/vault_client/files/vault-dev-server.service
  puppet/modules/vault_client/manifests/params.pp
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/generic_vault_backend.go
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/init_token.go
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/kubernetes.go
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/pki_vault_backend.go
Labels: approved, area/puppet, dco-signoff: yes, lgtm, release-note, size/L

#806 fix typo in route53 file for dnsNameservers-zoneNameservers mismatch
  pkg/tarmak/provider/amazon/route53.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#807 Adds acceptance-single-node to consul puppet
  puppet/modules/consul/Makefile
Labels: approved, area/puppet, dco-signoff: yes, lgtm, release-note-none, size/XS

#799 Fixes the installation of consul-backinator
  puppet/modules/consul/files/consul-backup.sh
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/install.pp
  puppet/modules/consul/manifests/params.pp
  puppet/modules/consul/spec/classes/install_spec.rb
Labels: approved, area/puppet, dco-signoff: yes, lgtm, release-note, size/M

#797 Automated cherry pick of #790
  hack/ci/run-puppet-job.sh
Labels: approved, cherry-pick-approved, dco-signoff: yes, lgtm, size/M

#796 Automated cherry pick of #795
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/spec/classes/apiserver_spec.rb
Labels: approved, area/puppet, cherry-pick-approved, dco-signoff: yes, lgtm, size/S

#810 Automated cherry pick of #807
  puppet/modules/consul/Makefile
Labels: approved, area/puppet, cherry-pick-approved, dco-signoff: yes, lgtm, size/XS

#809 Automated cherry pick of #803
  CHANGELOG.md
  Gopkg.lock
  Gopkg.toml
  puppet/modules/vault_client/files/vault-dev-server.service
  puppet/modules/vault_client/manifests/params.pp
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/generic_vault_backend.go
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/init_token.go
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/kubernetes.go
  vendor/github.com/jetstack/vault-helper/pkg/kubernetes/pki_vault_backend.go
Labels: approved, area/puppet, cherry-pick-approved, dco-signoff: yes, lgtm, size/L

#800 Automated cherry pick of #799
  puppet/modules/consul/files/consul-backup.sh
  puppet/modules/consul/manifests/init.pp
  puppet/modules/consul/manifests/install.pp
  puppet/modules/consul/manifests/params.pp
  puppet/modules/consul/spec/classes/install_spec.rb
Labels: approved, area/puppet, cherry-pick-approved, dco-signoff: yes, lgtm, size/M

#811 Upgrade default Kubernetes version to 1.12.8
  CHANGELOG.md
  pkg/apis/cluster/v1alpha1/defaults.go
  puppet/modules/tarmak/Makefile
Labels: approved, area/puppet, dco-signoff: yes, lgtm, release-note, size/S

#813 Upgrade golang to 1.11.10
  .gitlab-ci.yml
  Makefile
Labels: approved, dco-signoff: yes, lgtm, release-note, size/XS

#816 Enable support for bound service account tokens fix
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/spec/classes/apiserver_spec.rb
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
  puppet/modules/tarmak/manifests/master.pp
Labels: approved, area/puppet, dco-signoff: yes, lgtm, release-note, size/M
