Repository jetstack/tarmak, pull requests merged in 2019-04, with the labels that each got.

#791 Adds update deploy permissions for metrics-server-nanny
  puppet/modules/kubernetes_addons/templates/metrics-server-rbac.yaml.erb
  puppet/modules/kubernetes_addons/templates/metrics-server.yaml.erb
Labels: approved, area/puppet, cherrypick-candidate, dco-signoff: yes, lgtm, release-note, size/S

#795 Remove initializers apiserver admission plugin > 1.14
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/spec/classes/apiserver_spec.rb
Labels: approved, area/puppet, dco-signoff: yes, lgtm, release-note, size/S

#793 Automated cherry pick of #791 origin release 0.6
  puppet/modules/kubernetes_addons/templates/metrics-server-rbac.yaml.erb
  puppet/modules/kubernetes_addons/templates/metrics-server.yaml.erb
Labels: approved, area/puppet, cherry-pick-approved, dco-signoff: yes, lgtm, release-note, size/S

#790 Add script for puppet CI jobs
  hack/ci/run-puppet-job.sh
Labels: approved, area/puppet, cherrypick-candidate, dco-signoff: yes, lgtm, release-note-none, size/M
