Repository jetstack/tarmak, pull requests merged in 2019-06, with the labels that each got.

#817 Add docs for socket path problem
  docs/generated/reference/output/node_modules/ejs/ejs.js
  docs/generated/reference/output/node_modules/ejs/ejs.min.js
  docs/generated/reference/output/node_modules/ejs/lib/ejs.js
  docs/generated/reference/output/node_modules/ejs/lib/utils.js
  docs/known-issues/path-too-long.rst
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/L

#819 Upgrade default kubernetes version to 1.12.9
  CHANGELOG.md
  pkg/apis/cluster/v1alpha1/defaults.go
  puppet/modules/tarmak/Makefile
Labels: approved, area/puppet, dco-signoff: yes, lgtm, release-note, size/S

#822 Upgrade golang to 1.11.11
  .gitlab-ci.yml
  Makefile
Labels: approved, dco-signoff: yes, lgtm, release-note, size/XS

#824 Support for kubernetes 1.15
  puppet/modules/kubernetes/manifests/apiserver.pp
  puppet/modules/kubernetes/manifests/controller_manager.pp
  puppet/modules/kubernetes/manifests/kubelet.pp
  puppet/modules/kubernetes/manifests/proxy.pp
  puppet/modules/kubernetes/manifests/scheduler.pp
  puppet/modules/kubernetes/templates/kube-apiserver.service.erb
  puppet/modules/kubernetes/templates/kube-controller-manager.service.erb
  puppet/modules/kubernetes/templates/kube-proxy.service.erb
  puppet/modules/kubernetes/templates/kube-scheduler.service.erb
  puppet/modules/kubernetes/templates/kubelet.service.erb
  puppet/modules/tarmak/Makefile
Labels: approved, area/puppet, dco-signoff: yes, lgtm, release-note, size/M

#826 Upgrade etcd to 3.2.26
  CHANGELOG.md
  puppet/modules/etcd/Makefile
  puppet/modules/etcd/manifests/params.pp
  puppet/modules/etcd/spec/acceptance/single_node_spec.rb
  puppet/modules/etcd/spec/acceptance/three_node_spec.rb
  puppet/modules/kubernetes/files/etcd.service
  puppet/modules/tarmak/README.md
  puppet/modules/tarmak/manifests/init.pp
  terraform/amazon/templates/bastion_user_data.yaml.template
Labels: approved, area/puppet, area/terraform, dco-signoff: yes, lgtm, release-note, size/M
