Repository jetstack/tarmak, pull requests merged in 2019-02, with the labels that each got.

#682 Release public packer base images
  .gitlab-ci.yml
  Makefile
  hack/release-github.sh
  hack/release-tarmak-packer-image.sh
  packer/amazon/.gitignore
  packer/amazon/releases.json
Labels: approved, dco-signoff: yes, lgtm, release-note, size/L

#575 tarmak cluster logs
  cmd/tarmak/cmd/cluster.go
  cmd/tarmak/cmd/cluster_destroy.go
  cmd/tarmak/cmd/cluster_force-unlock.go
  cmd/tarmak/cmd/cluster_logs.go
  docs/cmd-docs.rst
  docs/generated/cmd/tarmak/tarmak_clusters.rst
  docs/generated/cmd/tarmak/tarmak_clusters_logs.rst
  docs/generated/reference/output/api-docs.html
  docs/generated/reference/output/navData.js
  pkg/apis/tarmak/v1alpha1/types.go
  pkg/apis/tarmak/v1alpha1/zz_generated.deepcopy.go
  pkg/tarmak/cmd.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/logs/logs.go
  pkg/tarmak/ssh/ssh.go
  pkg/tarmak/tarmak.go
  pkg/tarmak/utils/constants.go
  pkg/tarmak/utils/consts/consts.go
  pkg/tarmak/utils/context.go
  pkg/tarmak/utils/slices.go
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note, size/XL

#722 Move Heptio ark to Velero
  docs/examples/ark.rst
  docs/examples/velero.rst
  docs/spelling_wordlist.txt
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note, size/L

#720 Fix heapster vertical pod autoscaler race condition
  puppet/modules/kubernetes_addons/templates/heapster-deployment.yaml.erb
Labels: approved, area/puppet, dco-signoff: yes, lgtm, release-note, size/XS

#721 If we mismatch keys, attempt to use the tags instead
  pkg/tarmak/ssh/ssh.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/L

#715 Use core-dns over kube-dns for clusters >= 1.10
  puppet/modules/kubernetes/Gemfile.lock
  puppet/modules/kubernetes/manifests/apply.pp
  puppet/modules/kubernetes/manifests/delete.pp
  puppet/modules/kubernetes/manifests/dns.pp
  puppet/modules/kubernetes/spec/classes/dns_spec.rb
  puppet/modules/kubernetes/templates/core-dns-config-map.yaml.erb
  puppet/modules/kubernetes/templates/core-dns-deployment.yaml.erb
  puppet/modules/kubernetes/templates/dns-cluster-role-binding.yaml.erb
  puppet/modules/kubernetes/templates/dns-cluster-role.yaml.erb
  puppet/modules/kubernetes/templates/dns-horizontal-autoscaler-deployment.yaml.erb
  puppet/modules/kubernetes/templates/dns-horizontal-autoscaler-rbac.yaml.erb
  puppet/modules/kubernetes/templates/dns-service-account.yaml.erb
  puppet/modules/kubernetes/templates/dns-svc.yaml.erb
  puppet/modules/kubernetes/templates/rbac-cluster-role-bindings.yaml.erb
  puppet/modules/kubernetes/templates/rbac-cluster-roles.yaml.erb
  puppet/modules/kubernetes_addons/templates/metrics-server.yaml.erb
  puppet/modules/tarmak/spec/acceptance/single_node_spec.rb
Labels: approved, area/puppet, dco-signoff: yes, kind/documentation, lgtm, release-note, size/XL

#684 Fix bug where we give false errors on instance availability
  pkg/tarmak/provider/amazon/amazon.go
  pkg/tarmak/provider/amazon/amazon_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/L

#683 Feature flags for calico with CRDs and optionally typha
  docs/generated/reference/output/api-docs.html
  docs/generated/reference/output/navData.js
  docs/spelling_wordlist.txt
  docs/user-guide.rst
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
  pkg/puppet/puppet.go
  pkg/tarmak/cluster/cluster.go
  puppet/modules/calico/manifests/config.pp
  puppet/modules/calico/manifests/init.pp
  puppet/modules/calico/manifests/node.pp
  puppet/modules/calico/manifests/params.pp
  puppet/modules/calico/manifests/policy_controller.pp
  puppet/modules/calico/spec/classes/config_spec.rb
  puppet/modules/calico/spec/classes/node_spec.rb
  puppet/modules/calico/templates/configmap_etcd.yaml.erb
  puppet/modules/calico/templates/configmap_kubernetes.yaml.erb
  puppet/modules/calico/templates/node-crd.yaml.erb
  puppet/modules/calico/templates/node-daemonset.yaml.erb
  puppet/modules/calico/templates/node-rbac.yaml.erb
  puppet/modules/calico/templates/node-typha.yaml.erb
  puppet/modules/calico/templates/policy-controller-deployment.yaml.erb
  puppet/modules/kubernetes/functions/addon_manager_labels.pp
  puppet/modules/kubernetes/spec/acceptance/single_node_spec.rb
  puppet/modules/kubernetes/templates/dns-cluster-role-binding.yaml.erb
  puppet/modules/kubernetes/templates/rbac-cluster-role-bindings.yaml.erb
  puppet/modules/kubernetes/templates/rbac-cluster-roles.yaml.erb
  puppet/modules/kubernetes/templates/rbac-namespace-role-bindings.yaml.erb
  puppet/modules/kubernetes/templates/rbac-namespace-roles.yaml.erb
  puppet/modules/kubernetes_addons/templates/metrics-server-rbac.yaml.erb
Labels: approved, area/puppet, dco-signoff: yes, kind/documentation, lgtm, release-note, size/XXL

#724 Remove etcd services when using calico Kubernetes backend
  pkg/puppet/puppet.go
  puppet/modules/etcd/manifests/backup.pp
  puppet/modules/etcd/manifests/instance.pp
  puppet/modules/tarmak/manifests/etcd.pp
  puppet/modules/tarmak/manifests/init.pp
  puppet/modules/tarmak/manifests/overlay_calico.pp
  puppet/modules/vault_client/manifests/cert_service.pp
Labels: approved, area/puppet, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/L

#726 Upgrade to Centos 7.6.1810
  packer/amazon/configure_for_tarmak.sh
Labels: approved, dco-signoff: yes, lgtm, release-note, size/XS

#727 Set additional IAM policies correctly for all roles
  pkg/tarmak/cluster/cluster.go
  pkg/tarmak/instance_pool/instance_pool.go
  pkg/tarmak/interfaces/interfaces.go
  terraform/amazon/templates/instance_pools/instance_pool_variables.tf.template
Labels: approved, area/terraform, dco-signoff: yes, lgtm, release-note, size/S

#732 Improve documentation on Elasticsearch index config
  docs/spelling_wordlist.txt
  docs/user-guide.rst
  docs/user-guide/aws-elasticsearch/settings.json
Labels: approved, dco-signoff: yes, kind/documentation, lgtm, release-note-none, size/M

#735 Use role_policy_attachment for additional policies
  pkg/tarmak/instance_pool/instance_pool.go
  terraform/amazon/modules/bastion/bastion_iam.tf
  terraform/amazon/modules/vault/vault_iam.tf
Labels: approved, area/terraform, dco-signoff: yes, lgtm, release-note-none, size/S

#725 Upgrade fluentbit to 1.0.4
  puppet/modules/fluent_bit/manifests/daemonset.pp
  puppet/modules/fluent_bit/manifests/params.pp
  puppet/modules/fluent_bit/templates/fluent-bit-daemonset.yaml.erb
Labels: approved, area/puppet, dco-signoff: yes, lgtm, release-note, size/M

#738 Don't default to os.Stdin for stdin in SSH execute sessions
  pkg/tarmak/ssh/ssh.go
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/XS

#736 Re-use working tunnel for kubectl
  pkg/tarmak/kubectl/kubectl.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/M

#730 Have timeout for tunnel, new connections reset timer
  cmd/tarmak/cmd/tunnel.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/kubectl/kubectl.go
  pkg/tarmak/ssh/tunnel.go
  pkg/tarmak/vault/tunnel.go
  pkg/tarmak/vault/tunnel_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/L

#739 Fallback to pre-built AMI images if none privately built
  pkg/apis/cluster/v1alpha1/constants.go
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/packer/packer.go
  pkg/tarmak/interfaces/interfaces.go
  pkg/tarmak/provider/amazon/image.go
  pkg/tarmak/tarmak_test.go
  pkg/version/version.go
  pkg/version/version_test.go
Labels: approved, dco-signoff: yes, lgtm, release-note, size/L

#740 Add config toggle for heapster, influxdb, grafana
  docs/generated/reference/output/api-docs.html
  docs/generated/reference/output/navData.js
  docs/spelling_wordlist.txt
  docs/user-guide.rst
  pkg/apis/cluster/v1alpha1/cluster.go
  pkg/apis/cluster/v1alpha1/defaults.go
  pkg/apis/cluster/v1alpha1/zz_generated.deepcopy.go
  pkg/puppet/puppet.go
  pkg/tarmak/initialize/initialize.go
  puppet/hieradata/role/master.yaml
  puppet/modules/kubernetes_addons/manifests/grafana.pp
  puppet/modules/kubernetes_addons/manifests/heapster.pp
  puppet/modules/kubernetes_addons/manifests/influxdb.pp
Labels: approved, area/puppet, dco-signoff: yes, kind/documentation, lgtm, release-note, size/L

#746 Automated cherry pick of #680 #726
  .gitlab-ci.yml
  Makefile
  packer/amazon/configure_for_tarmak.sh
  pkg/packer/image.go
  pkg/tarmak/provider/amazon/tf_remote_state.go
Labels: approved, cherry-pick-approved, dco-signoff: yes, lgtm, release-note, size/S

#749 Adds AddListenrCertificates and RemoveListenerCertificates permissions
  terraform/amazon/modules/kubernetes/templates/iam_elb_controller.json
Labels: approved, area/terraform, dco-signoff: yes, lgtm, release-note, size/XS

#750 Adds DeregisterTargets permissionspolicy to elb controller role
  terraform/amazon/modules/kubernetes/templates/iam_elb_controller.json
Labels: approved, area/terraform, dco-signoff: yes, lgtm, release-note, size/XS

#747 Fluentbit beaker tests
  puppet/modules/aws_es_proxy/manifests/instance.pp
  puppet/modules/aws_es_proxy/templates/aws-es-proxy.service.erb
  puppet/modules/fluent_bit/Gemfile.lock
  puppet/modules/fluent_bit/manifests/output.pp
  puppet/modules/fluent_bit/spec/acceptance/fluentbit_spec.rb
  puppet/modules/fluent_bit/spec/defines/output_spec.rb
  puppet/modules/fluent_bit/spec/fixtures/elasticsearch.repo
Labels: approved, area/puppet, dco-signoff: yes, lgtm, release-note, size/XL

#753 Upgrade kubernetes versions
  CHANGELOG.md
  pkg/apis/cluster/v1alpha1/defaults.go
  puppet/modules/tarmak/Makefile
Labels: approved, area/puppet, dco-signoff: yes, lgtm, release-note, size/M

#743 Add some basic e2e tests
  Gopkg.lock
  Gopkg.toml
  Makefile
  cmd/tarmak/e2e/download_test.go
  cmd/tarmak/e2e/e2e_cluster_test.go
  cmd/tarmak/e2e/sonobuoy_test.go
  cmd/tarmak/e2e/tarmak_instance_test.go
  pkg/version/version.go
  pkg/version/version_test.go
  puppet/modules/kubernetes/manifests/dns.pp
  puppet/modules/kubernetes/spec/classes/dns_spec.rb
  puppet/modules/kubernetes/templates/coredns-config-map.yaml.erb
  puppet/modules/kubernetes/templates/coredns-deployment.yaml.erb
  puppet/modules/tarmak/spec/acceptance/single_node_spec.rb
  vendor/github.com/google/goexpect/AUTHORS
  vendor/github.com/google/goexpect/LICENSE
  vendor/github.com/google/goexpect/expect.go
  vendor/github.com/google/goterm/AUTHORS
  vendor/github.com/google/goterm/LICENSE
  vendor/github.com/google/goterm/term/color.go
  vendor/github.com/google/goterm/term/ssh.go
  vendor/github.com/google/goterm/term/termios.go
Labels: approved, area/puppet, dco-signoff: yes, lgtm, release-note, size/XXL

#754 Update clusterrole for kube-state-metrics
  puppet/modules/prometheus/templates/kube-state-metrics-deployment.yaml.erb
Labels: approved, area/puppet, dco-signoff: yes, lgtm, release-note, size/XS

#757 Increases inotify limits on Kubernetes instances
  puppet/modules/kubernetes/manifests/init.pp
  puppet/modules/kubernetes/manifests/kubelet.pp
  puppet/modules/kubernetes/manifests/params.pp
  puppet/modules/kubernetes/templates/fs.conf.erb
Labels: approved, area/puppet, dco-signoff: yes, lgtm, release-note, size/M

#742 Updates CHANGELOG.md for 0.6.0
  CHANGELOG.md
Labels: approved, dco-signoff: yes, lgtm, release-note-none, size/M
